/* Main style file for my personal website. */

/* All pages. */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
}

p  {
	font-family: 'Open Sans', sans-serif;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: none;
}

footer {
	background: #E1C68B;
	margin-top: 10px;
	padding: 10px 0px;
	width: 100%;
	height: auto;
	position: relative;
	bottom: 0px;
}

h1 {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: none;
}

h2 {
	color: #B18904;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: none;
}

h3 {
	color: #F58025;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: none;
}

h4 {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: none;
}

h5 {
	color: #B18904;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: none;
}

h6 {
	color: #F58025;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: none;
}

ul.nav{
	background: #E1C68B;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.nav li{
	display: inline;
}

ul.nav a{
    display: inline-block;
    padding: 10px;
}

a:link {
    color: black;
	text-decoration: none;
}

a:visited {
    color: dimgray;
	text-decoration: none;
}

a:hover {
    color: #F58025;
	text-decoration: none;
}

a:active {
    color: red;
	text-decoration: none;
}

div.bottom {
	background: none;
	max-height: auto;
	transform: translate(0%, 12%)
}

/* Main page. */

div.myself-image {
	background: none;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	max-height: auto;
}

img.myself-image {
	background: none;
}

p.myself-image {
	background: none;
	margin-left: 8%;
	margin-right: 0%;
	font-size: 19px;
}

table.myself-image {
	background: none;
	transform: translate(0%, 8%);
}

/* About page. */

div.about {
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: none;
}

/* Research page. */

div.research-images {
	white-space: nowrap;
}

p.research  {
	font-family: 'Open Sans', sans-serif;
	background: none;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2.research {
	color: #B18904;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 0px;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h3.research {
	color: #F58025;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 0px;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

summary.research {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid floralwhite;
	background: none;
}

summary.research:hover {
	color: #B18904;
	background: floralwhite;
	border: 1px solid goldenrod;
	text-decoration: none;
}


/* People page. */

div.people  {
	background: none;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Publications page. */

div.publications  {
	background: none;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ol.publications  { 
    display: flex;
    flex-direction: column-reverse;
}

/* li {
    flex: 0 0 auto;
}

/* Outreach page. */

div.outreach  {
	background: none;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Resources page. */

div.resources  {
	background: none;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

em.resources {
	color: black;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: none;
}

ul.resources{
	background: cornsilk;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.resources li{
	display: inline;
}

ul.resources a{
    display: inline-block;
    padding: 10px;
}

ol {
    counter-reset: item;
}

ol li {
    display: block;
    position: relative;
	padding: 2px;
}

ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
}

ol li:before:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
}

em.code{
	background: floralwhite;
	font-family: courier;
	font-style: normal;
	border: 1px solid goldenrod;
	padding: 0px 5px;
	position: relative;
	bottom: 1px
}

div.code  {
	background: floralwhite;
	font-family: courier;
	font-style: normal;
	font-size: 14px;
	text-align: left;
	border: 1px solid goldenrod;
	padding: 15px;
	max-width: 864px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}